@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);
  &__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;
    margin: 0;
    &-item {
      a {
        padding: 5px;
      }
      padding: 0;
      margin: 10px 0;
      &-link {
        font-size: $typographic-base-font-size;
        color: $typographic-link-p-font-color;
        font-weight: 400;
        border: 0;
        &:hover,
        &:focus {
          color: $typographic-base-font-color-hover;
          background-color: $color-base;
          border-radius: 5px;
        }
        &--active {
          color: $typographic-base-font-color-hover;
          background-color: $color-base;
          border-radius: 5px;
        }
      }
      // &:first-of-type {
      //   &:hover,
      //   &:focus {
      //     color: $color-primary;
      //     border: none;
      //   }
      //   &--active {
      //     color: $color-base;
      //     border: none;
      //   }
      //   a {
      //     font-size: $typographic-base-font-size;
      //   }
      // }
    }
  }
}
